.reviews {
    height: 450px;
    overflow: scroll;
    border: 1px solid var(--border-smoky-black);
}
.singleReview{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-smoky-black);
    padding: 0px 10px ;
}
.reviewInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-smoky-black);   
}
.name{
    font-size: 25px;
}
.position {
    font-size: 15px;
}
.content {
    padding: 5px;
    font-size: 16px;
}