.cta { 
    padding-top: 30px;
    padding-bottom: 30px;
    border-block: 1px solid var(--border-eerie-black); 
}

.cta .section-title::before {
  content: "";
  display: block;
  background-color: var(--bg-white);
  width: 60px;
  height: 30px;
  border-radius: 30px 30px 0 0;
  margin-inline: auto;
  margin-block-end: 15px;
}

.cta .btn {
  margin-inline: auto;
  margin-block-start: 30px;
}