.tab-content {
    display: none;
    padding: 30px;
}

.tab-content.active {
  display: block;
  animation: fade 500ms linear forwards;
}

@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.tab-content {
  display: grid;
  gap: 30px;
}
.about-banner {
  display: grid;
  place-items: center;
}
.about-cover {
  width: 70%;
}

.img-holder {
    height: auto;
    width: 450px;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-title {
    font-size: 35px;
}
.profileInfo {
    margin: 0;
    padding: 0;
}

.tab-content .section-title { margin-block-end: 30px; }

.tab-content .section-text,
.about-item:not(:last-child) { margin-block-end: 20px; }

.about-item .span { line-height: 1.4; }

.social-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.social-link {
  width: 30px;
}
.social-link > img {
  width: 100%;
}

.social-link { color: var(--text-white); }

.skill-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 30px 12px;
}

.skill-wrapper .span {
  font-family: var(--fontFamily-recoleta);
  font-weight: var(--weight-medium);
}

.progress-bar {
  background-color: var(--bg-smoky-black);
  height: 4px;
}

.progress-fill {
  background-color: var(--bg-white);
  height: 100%;
}
