.testi { border-block: 1px solid var(--border-eerie-black); }

.testi-content {
    padding: 20px;
    padding-inline-start: 15px;
    border: 1px solid var(--border-eerie-black);
}

.testi .section-text {
  text-indent: -15px;
  line-height: 1.5;
  margin-block-end: 20px;
}

.profile-card {
    display: flex;
}

.profile-card { font-size: var(--fontSize-10); }

.card-title {
    font-size: 25px;
}
.reviewContent {
    font-size: 20px;
}
.reviewImg {
    height: 60px;
    width: 60px;
}
.reviewImg > img {
    width: 80%;
}
.card-subtitle {
    font-size: 14px;
}

.showMoreDiv {
    display: flex;
    justify-content: end;
}
.showMore {
    color: white;
    margin-top: 10px;
    border-radius: 3px;
    padding: 10px 20px;
    border: 1px solid var(--border-eerie-black);
}
.showMore:hover {
    color: black;
    background-color: white;
}