.experiences {
  height: 550px;
  overflow: scroll;
  border: 1px solid var(--border-smoky-black);
}
.singleExp {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-smoky-black);
  padding: 0px 10px ;
}
.expCompanyInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--border-smoky-black);
}
.userImage {
  max-width: 80px;
  border: 1px solid var(--border-smoky-black);
  border-radius: 50%;
  overflow: hidden;
}
.userImage > img {
  width: 95%;
  border-radius: 50%;
}
.jobTitle {
  font-size: 25px;
}
.dates {
  display: flex;
  font-size: 14px;
  padding-top: 5px;
}
.location {
  text-align: end;
  font-size: 12px;
  width: 100%;
}
.expInfo {
  padding-top: 10px;
  padding-bottom: 10px;
}
.expSummary {
  font-size: 18px;
  padding-bottom: 5px;
}
.bulletPoints {
  font-size: 14px;
}
